{% extends 'base.html.twig' %}

{% block title %}ResultQuestion index{% endblock %}

{% block body %}
    <h1>ResultQuestion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Given</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for result_question in result_questions %}
            <tr>
                <td>{{ result_question.id }}</td>
                <td>{{ result_question.given ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('result_question_show', {'id': result_question.id}) }}">show</a>
                    <a href="{{ path('result_question_edit', {'id': result_question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('result_question_new') }}">Create new</a>
{% endblock %}