{% extends 'base.html.twig' %}
{% block title %}New Question{% endblock %}
{% block body %}
    <div id="main" class="container">
    </div>


    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center text-secondary question_title" >Add a new question :</h3>
                {{ include('question/_form.html.twig') }}
                <hr>
                <div>
                    {{ form_start(suggestionForm, { 'attr': {'class': 'd-none'}}) }}
                    {{ form_widget(suggestionForm) }}
                    <input type="hidden" id="suggestionRoute" value="{{ path('suggestion_new') }}">
                    <input type="hidden" id="suggestion_question" name="suggestion[question]" value="je suis la">
                    <button type="submit" class="btn btn-success text-center col-md-2 ml-auto">{{ button_label|default('Save') }}</button>
                    {{ form_end(suggestionForm) }}
                </div>
            </div>
            <div class="row mx-auto" id="controlPanel">
                <div>
                    <a href="{{ path('question_index') }}" class="card-link btn btn-danger m-3">back to list</a>
                </div>
                <div>
                    <a href="{{ path('question_index') }}" class="card-link btn btn-danger m-3">back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/add_question.js') }}"></script>
{% endblock %}