{% extends 'base.html.twig' %}
{% block title %}New Question{% endblock %}
{% block body %}
    <div id="main" class="container">
        {% for question in questions %}
        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title text-center text-secondary">Question :</h3>
                <hr>
                <div class="showQuestion">
                    <div class="card">
                        <div class="card-body bg-light">
                            <h5 class="card-title">The question</h5>
                            <p class="card-text" > {{ question.enunciate }} </p>
                            {% if  question.isMultiple %}
                            <div class="text-right">
                                <a href="#" class="alert-link text-center">Multiple</a>
                            </div>
                            {% else %}
                            <div class="text-right">
                                <a href="#" class="info-link text-center">Single</a>
                            </div>
                            {% endif %}
                            <a href="#" class="btn btn-warning mr-auto">Edit</a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="showSuggestion{{ question.id }}">
                    {% for suggestion in question.getSuggestions() %}
                    <div class="col-lg-12 row mx-auto" >
                        <div class="col-lg-6">
                            <div class="alert alert-info" role="alert">
                                {{ suggestion.getContent() }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            {% if suggestion.getAnswer() %}
                                <div class="alert alert-success" role="alert">The answer is true</div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">The answer is false</div>
                            {% endif %}
                        </div>
                        <div class="col-lg-3">
                            <div class="alert alert-warning text-center">
                                <a href="#" class="alert-link">Edit</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>


    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center text-secondary question_title" >Add a new question :</h3>
                {{ include('question/_form.html.twig') }}
                <hr>
                <div>
                    {{ form_start(suggestionForm, { 'attr': {'class': 'd-none'}}) }}
                    {{ form_widget(suggestionForm) }}
                    <input type="hidden" id="suggestionRoute" value="{{ path('suggestion_new') }}">
                    <input type="hidden" id="suggestion_question" name="suggestion[question]">
                    <button type="submit" class="btn btn-success text-center col-md-2 ml-auto">{{ button_label|default('Save') }}</button>
                    {{ form_end(suggestionForm) }}
                </div>
            </div>
            <div class="row mx-auto" id="controlPanel">
                <div>
                    <a href="{{ path('question_index') }}" class="card-link btn btn-danger m-3">back to list</a>
                </div>
                <div>
                    <a id='createSession' href="{{ path('session_new') }}" class="card-link btn btn-primary m-3
                     {% if questions == false %}
                     d-none
                     {% endif %}
                     ">Session</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/add_question.js') }}"></script>
{% endblock %}