<div class="container bg-dark p-3 mt-5 rounded">
    {% if quizzes|length > 0 %}
        <div class=" py-1 text-center">
            <h1 class="text-white">Your Quizzes :</h1>
        </div>
        <table class="rounded primary-border table bg-light">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Max Points</th>
                <th>Right</th>
                <th>Wrong</th>
                <th>Neutral</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes %}

                <tr>
                    <td>{{ quiz.name }}</td>
                    <td>{{ quiz.description }}</td>
                    <td>{{ quiz.maxPoints }}</td>
                    <td>{{ quiz.rightAmountPoints }}</td>
                    <td>{{ quiz.wrongAmountPoints }}</td>
                    <td>{{ quiz.neutralAmountPoints }}</td>
                    <td >
                        <a class="alert-info" href="{{ path('quiz_show', {'id': quiz.id}) }}">show</a>
                        <a class="alert-warning" href="{{ path('quiz_edit', {'id': quiz.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('quiz_new') }}">Add new quiz</a>
    {% else %}
        <div class="card">
            <h5 class="card-header alert alert-warning">Em...</h5>
            <div class="card-body">
                <h5 class="card-title">Just saying</h5>
                <p class="card-text">it looks like you have no quiz yet, click the geen button down below to create one...</p>
                <a class="btn btn-success" href="{{ path('quiz_new') }}">Create quiz</a>
            </div>
        </div>
    {% endif %}
</div>